<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="packageDeployment" type="Microsoft.Xrm.Sdk.Test.PackageImport, Microsoft.Xrm.Sdk.Test" />
  </configSections>
  <packageDeployment>
    <packageConfigurations>
    </packageConfigurations>
  </packageDeployment>
  <appSettings>
    <add key="SolutionDevelopmentFullPath" value="%WSRoot%\drop\%BuildConfiguration%\%BuildPlatform%\Solutions\" />
    <add key="CrmServerHostName" value="localhost" />
    <add key="CrmWebSitePort" value="80" />
    <add key="TestCrmOrganizationName" value="contoso" />
    <add key="TestCrmOrganizationDatabaseName" value="contoso_MSCRM" />
    <add key="TestCrmOrganizationLogicalDatabaseFileName" value="mscrm" />
    <add key="TestCrmUserName" value="Administrator" />
    <add key="TestCrmUserPassword" value="" />
    <add key="TestCrmUserDomain" value="~" />
    <add key="TestCrmUserFullName" value="Matthieu Queva" />
    <add key="TestCrmRoleName" value="System Administrator" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1507.118" newVersion="4.2.1507.118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="6.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>