@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TraceParserWeb.styles.css" />

    <!-- Adaptive Cards Dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/adaptivecards/dist/adaptivecards.min.js"></script>
    <script src="adaptiveCards.js"></script>
    <link rel="stylesheet" href="adaptiveCards.css" />

    <script src="blobUpload.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <HeadOutlet @rendermode="@renderMode" />
</head>

<body>
<Routes @rendermode="@renderMode" />
</body>

</html>

@code {
    private readonly IComponentRenderMode renderMode = new InteractiveServerRenderMode(prerender: false);
}