<?xml version="1.0" encoding="utf-8"?>
<commerceRuntimeExtensions>
	<composition>
		<!-- inventory lookup/calculation -->
		<add source="type" value="Extensions.Crt.InventoryAvailability.ExtInventoryAvailabilityService, Extensions.Crt.InventoryAvailability" />

		<!-- inventory on hand enforcement during add to cart and checkout -->
		<add source="type" value="Extensions.Crt.NegativeInventoryCheck.SaveCartVersionedDataRequestTrigger, Extensions.Crt.NegativeInventoryCheck" />
		<add source="type" value="Extensions.Crt.NegativeInventoryCheck.ValidateCartForCheckoutRequestTrigger, Extensions.Crt.NegativeInventoryCheck" />
		<add source="type" value="Extensions.Crt.NegativeInventoryCheck.ResumeCartRequestTrigger, Extensions.Crt.NegativeInventoryCheck" />
		<add source="type" value="Extensions.Crt.NegativeInventoryCheck.SuspendCartRequestTrigger, Extensions.Crt.NegativeInventoryCheck" />
	</composition>

	<settings>
	</settings>
</commerceRuntimeExtensions>