################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/.tools
*.manifest
*.exe
!AgentUtilities.exe
/Packages
*.suo
*.orig
*.user
/target/**/*
/drop/**/*
*.cache
*.projhash
*.slnhash
/**/.vscode
/init.log
/Logs/**/*
*.nlp

/**/.vs/config/**/*
/**/*.StyleCop
*.coverage

/build/include/Environment.targets

/solutions/**/packages/*
/solutions/**/solution/templates/**
/solutions/TypeDefinitions/**/*
/solutions/**/objd/**/*
/solutions/**/objd/**/*.*
/solutions/**/obj/**/*
/solutions/**/bin/**/*
/solutions/**/gen/**/*
/solutions/**/buildd*.*
/settings.json
/temp.txt

# Loc related temp file
/localize/Temp
/localize/Extern
/**/build.log
/**/*_packager.log
*.error
/**/vars.log
/**/UpgradeLog*.htm

/solutions/**/client/**/*.js
/solutions/**/client/**/*.d.ts
/solutions/**/client.unittests/**/*.js
/solutions/**/package/webresources/**/*.*
*.lock
*.ide
*.ide-shm
*.ide-wal
/*.PackageDeployer.zip
/*Package.zip
*.version
/SoluitonRead_Debug_*((*))_*.xml
*.tsbuildinfo